[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "glassoFast"]
	path = glassoFast
	url = https://github.com/jclavel/glassofast
[submodule "mvMORPH"]
	path = mvMORPH
	url = https://github.com/jclavel/mvmorph
